# --- For-Bot-Working --------- #
pyrogram
TgCrypto

# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp

pyrogram


python-dotenv
motor
aiofiles
dnspython
apscheduler
requests
psutil
pyromod
