# --- For-Bot-Working --------- #
pyrogram
TgCrypto

# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp

pyrogram
Pyromod==1.5

python-dotenv
motor
aiofiles
dnspython
apscheduler
requests
psutil

